
body {
  text-align: center;
  margin: 0; padding: 0;
  background-color: chartreuse;
}

.container{
  height: 130px;
  width: 100px;
  border: none;
  background-color: chartreuse;
  cursor: pointer;
  
}
.choice-image{
  height: 90px;
}
